<router-outlet />

<div class="inputs">
    <ngx-form-group>
        <ng-container [ngTemplateOutlet]="timeControls"></ng-container>
    </ngx-form-group>

    <ngx-form-group>
        <ng-container [ngTemplateOutlet]="controls"></ng-container>
    </ngx-form-group>
</div>

<form [formGroup]="params.formGroup">
    <ng-template #timeControls>
        <mat-select
            formControlName="startYear"
            placheholder="Start Year"
            matTooltip="Start Year">
            @for (year of years; track year) {
                <mat-option [value]="year"> {{ year }} </mat-option>
            }
        </mat-select>
        <mat-select
            formControlName="startMonth"
            placheholder="Start Month"
            matTooltip="Start Month">
            @for (month of months; track month) {
                <mat-option [value]="month.index">
                    {{ month.label }}
                </mat-option>
            }
        </mat-select>
        <mat-select
            formControlName="numMonths"
            placheholder="Num Months"
            matTooltip="Num Months">
            @for (month of monthsOptions; track month) {
                <mat-option [value]="month"> {{ month }} months </mat-option>
            }
        </mat-select>
    </ng-template>

    <ng-template #controls>
        <mat-select
            multiple
            formControlName="teams"
            placeholder="Teams"
            matTooltip="Teams">
            @for (team of teamsOptions; track team) {
                <mat-option [value]="team"> {{ team }} </mat-option>
            }
        </mat-select>
    </ng-template>
</form>
